<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="commonHead">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, inital-scale=1.0" />
		<title th:text="${headTitle}"></title>
		<link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet"></link>
		<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
		<script th:src="@{/js/user.js}" defer></script>
		<script th:src="@{/js/post.js}" defer></script>
		<script th:src="@{/js/axios.min.js}" defer></script>

	</head>
</html>