<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 30px;
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-primary {
        margin-top: 10px;
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-primary {
        margin-top: 10px;
    }

    .form-control-file {
        height: calc(2.25rem + 2px);
    }
</style>
<div layout:fragment="content">
    <div class="container mt-5">
        포스트 작성 완료 ! <br>
        포스트 작성 리스트 페이지

    </div>
    <!-- Bootstrap JS 파일 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</div>
</html>