<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">

<div layout:fragment="content">
    <section class="h-100 h-custom" style="background-color: #ebebeb;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3 ">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">회원가입</h3>
                                <div class="form-outline mb-4">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center">
                                            <label class="form-label text-start" for="input_password" style="padding-left: 10px;">패스워드</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="password" id="input_password" class="form-control" name="password" placeholder="패스워드를 입력하세요"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center">
                                            <label class="form-label text-start" for="check_password" style="padding-left: 10px;">패스워드 확인</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="password" id="check_password" class="form-control" placeholder="패스워드를 다시 입력하세요"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center">
                                            <label class="form-label text-start" for="input_name" style="padding-left: 10px;">이름</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="input_name" class="form-control" name="name" placeholder="이름을 입력하세요"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center">
                                            <label class="form-label text-start" for="input_phone" style="padding-left: 10px;">휴대폰 번호</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="input_phone" class="form-control" name="phone" placeholder="휴대폰번호를 입력하세요"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center">
                                            <label class="form-label text-start" for="input_email" style="padding-left: 10px;">이메일</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="email" id="input_email" class="form-control" name="email" placeholder="이메일을 입력하세요"/>
                                            <font id = checkEmail size="2"></font>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center">
                                            <label class="form-label text-start" for="input_birth" style="padding-left: 10px;">생년월일</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="date" id="input_birth" class="form-control" name="birth"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <button type="reset" class="btn btn-secondary btn-sm mb-1 me-2 w-100">Reset</button>
                                        <button id="registerButton" class="btn btn-sm mb-1 w-100" style="background-color: #8BC34A; color:white;">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>