<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
        <!-- 로그인 전 메뉴-->
        <div sec:authorize="isAnonymous()">
            <button type="button" class="btn btn-outline-success me-2" th:onclick="|location.href='@{/users/sign-in}'|"
                    style="border-color: #8BC34A; color: #8BC34A;">로그인
            </button>
            <button type="button" class="btn " th:onclick="|location.href='@{/users/sign-up}'|"
                    style="background-color: #8BC34A; color:white;">회원가입
            </button>
        </div>

        <!-- 로그인 후 메뉴 -->
        <div sec:authorize="isAuthenticated()">
            <button type="button" class="btn btn-outline-success me-2" th:onclick="|location.href='@{/member/profile}'|"
                    style="border-color: #8BC34A; color: #8BC34A;">회원 정보
            </button>
            <button type="button" class="btn" id="logoutButton" th:onclick="|location.href='@{/users/sign-out}'|"
                    style="background-color: #8BC34A; color:white;">로그아웃
            </button>
        </div>

        </p>
        <a th:href="@{/post/create-post}">포스트 작성하기</a>
    </div>
</div> <!-- /container -->
</body>
</html>